<div class="container mx-auto px-4 py-8">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <% @videos.each do |video| %>
      <div class="bg-white rounded-lg shadow overflow-hidden transition-shadow hover:shadow-lg">
        <% if video.thumbnail? %>
          <%= link_to video_path(video) do %>
            <%= image_tag video.thumbnail.url, alt: video.title, class: "h-48 w-full object-cover" %>
          <% end %>
        <% else %>
          <%= link_to video.title, video_path(video), class: "block h-48 w-full bg-gray-200 flex justify-center items-center text-lg font-semibold text-gray-900 hover:text-gray-700" %>
        <% end %>
        <div class="p-4">
          <h5 class="text-gray-900 text-lg font-medium mb-2 truncate"><%= video.title %></h5>
          <p class="text-gray-700 text-base mb-4 overflow-ellipsis overflow-hidden h-14">
            <%= truncate(video.description, length: 100) %>
          </p>
          <div class="flex items-center justify-between">
            <%= link_to 'Edit', edit_video_path(video), class: "text-sm bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition ease-in-out duration-150" %>
            <% if policy(video).destroy? %>
              <%= button_to 'Delete', video, method: :delete, 
                    form:{
                      data: { turbo_confirm: 'Are you sure?' },
                    },
                    class: "text-sm bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded transition ease-in-out duration-150"
                %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mt-8 flex justify-center">
    <%= link_to 'New Video Upload', new_video_path, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-6 rounded transition ease-in-out duration-150" %>
    <% if user_signed_in? %>
      <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, form: { "data-turbo-frame": "_top" }, class: "ml-4 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-6 rounded transition ease-in-out duration-150" %>
    <% end %>
  </div>
</div>
