<div class="min-h-screen flex flex-col sm:justify-center items-center pt-6 sm:pt-0 bg-gray-50">
  <div class="w-full sm:max-w-md mt-6 px-6 py-4 bg-white shadow-md overflow-hidden sm:rounded-lg">
    <h2 class="text-center text-3xl font-extrabold text-gray-900">
      Sign in to your account
    </h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "mt-8 space-y-6" }) do |f| %>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div class="rounded-md shadow-sm">
        <div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 mb-3 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder: "Email address" %>
        </div>
        <div>
          <%= f.password_field :password, autocomplete: "current-password", required: true, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder: "Password" %>
        </div>
      </div>

      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <%= f.check_box :remember_me, class: "h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded" %>
          <%= f.label :remember_me, class: "ml-2 block text-sm text-gray-900" %>
        </div>

        <%= link_to "Don't have an account?", new_user_registration_path, class: "font-medium text-indigo-600 hover:text-indigo-500" %>
      </div>

      <div>
        <%= f.submit "Sign in", class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      </div>
    <% end %>
  </div>
</div>
